#categoryWindow {    
    position:absolute;
    background:#fff;
    padding:0;
    margin-top: 50px;
    border-radius:0 5px 5px 0;
    top: 50%;
    right:0%;
    z-index:999;
    display:flex;
    flex-direction:column;
    height:422px;
    overflow:auto
}
.catalog-menu[data-v-1e034b2c]{
    background:#fff;
    padding:15px 0 0 0;
    border-radius:5px;
    z-index:9999
}
.catalog-menu ul[data-v-1e034b2c]{
    list-style:none;
    padding:0;
    margin:0
}
.catalog-menu ul li[data-v-1e034b2c]{
    width:100%;
    border-bottom:1px solid #bbb;
    height:60px;
    overflow:hidden
}
.catalog-menu ul li a[data-v-1e034b2c]{
    display:flex;
    padding:10px;
    font:14px Century Gothic,sans-serif;
    color:#818181;
    text-decoration:none;
    height:100%;
    align-items:center
}
